* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/background.svg');
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #EF008E;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-content {
    margin-left: 250px;
    padding: 0 10%;
    text-align: left;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.content-section {
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.content-section__header {
    color: #EF008E;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 60px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.content-section__body {
    flex-grow: 1;
}

.content-section.home-section {
    align-items: center;
}


/* Navigation */

.page-navigation__items {
    padding-top: 15px;
}

.page-navigation__link {
    line-height: 30px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    font-weight: bold;
}


/* Band members */

.band-members {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.band-members__name {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.8px;
}

.band-members__desc {
    font-size: 13px;
    font-weight: normal;
    color: rgba(204, 200, 255, 0.5);
    letter-spacing: 3.5px;
}



/* About */

.about {
    position: relative;
    margin-bottom: 115px;    
    margin-left: 290px;
}

.about__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

.about__desc-header {
    margin-bottom: 30px;
    color: #CCC8FF;
    font-size: 15px;
    letter-spacing: 3.8px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__desc {
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1.5px;
    position: absolute;
    bottom: -115px;
    left: -290px; 
    width: 380px;
    padding: 30px;
    background-color: #25072e;
    border-bottom: 3px solid #EF008E;
}

/* Concerts */

.concerts {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 55px;
    row-gap: 45px;
}

.concerts__image {
    max-width: 100%;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.concerts__info-base {
    flex-grow: 1;
}

.concerts__date {
    margin: 0;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

.concerts__location {
    margin: 0;
    letter-spacing: 3.8px;
}


/* Video */

.embedded-video {
    border-top: 3px solid #EF008E;
}

.video-frame {
    width: 853px;
    height: 480px;
}

/* Photos */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: calc(80% + 20px);
    margin-top: -20px;
}

.gallery__image {
    max-width: 100%;
    border-top: 3px solid #EF008E;
}

.gallery_item {
    width: calc((100% - 60px) / 3);
    margin-top: 20px;
    margin-left: 20px;
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        gap: 20px;
        margin: 0px;
    }

    .gallery_item {
        width: 100%;
        margin: 0px;
    }
}


/* Contact */

.contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact__image {
    max-width: 100%;
}

.contact__address {
    font-style: normal;
    padding: 50px;
}

.contact__form {
    flex-basis: 50%;
    padding-top: 40px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__field {
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 300px;
    height: 35px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}


.page-content {
    margin-left: 220px;
    padding: 0 10%;
}

.button {
    padding: 7px 15px;
    border-radius: 3px;
    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);
    cursor: pointer;
}

.button--contact {
    margin-top: 20px;
}

/* MOBILE VERSION */

@media screen and (max-width: 360px) {

    body {
        background-image: none;
        background-color: #25072E;
        width: 100vw;
    }

    .page-header {
        display: flex;
        flex-direction: column;
        position: static;
        align-items: center;
        margin-bottom: 50px;
        padding: 20px 20px 0;
    }

    .page-footer {
        position: static;
        padding: 20px;
    }

    .page-content {
        margin-left: 0;
        padding: 0 20px;
    }

    .content-section {
        align-items: center;
        min-height: unset;
        margin-bottom: 50px;
    }

    .content-section__header {
        margin-bottom: 30px;
        justify-content: center;
    }

    .content-section__body {
        flex-grow: 1;
    }

    /* NAVIGATION */

    .page-navigation__items {
        text-align: center;
    }


    /* BAND MEMBERS */

    .band-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }

    .band-members__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .band-members__image {
        object-fit: contain;
        width: 150px;
        height: 175px;
        margin-bottom: 15px;
    }

    .band-members__desc {
        display: block;
        text-align: center;
        margin: 0;
    }

    .band-members__name {
        display: block;
        text-align: center;
        margin: 0;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 0.1px;
    }


    /* ABOUT */

    .about {
        margin: 0px;
    }

    .about__desc-header {
        font-size: 20px;
    }

    .about__desc {
        position: static;
        width: 100%;
        padding: 20px;
    }

    .about__desc-content {
        font-size: 13px;
        line-height: 1.5;
    }


    /* CONCERTS */

    .concerts {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .concerts__info {
        flex-direction: column;
    }

    .concerts__info-base {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 16px;
    }


    /* VIDEO */

    .embedded-video {
        width: 100%;
    }


    /* PHOTOS */

    .gallery {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .gallery__item {
        margin-bottom: 10px;
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            justify-items: center;
        }

        .gallery__item {
            margin-bottom: 0;
        }
    }


    /* CONTACT */

    .contact__form {
        width: 100%;
        flex-basis: unset;
    }

    .contact__item {
        margin-bottom: 20px;
    }

    .contact__address {
        padding: 0;
        line-height: 2;
    }
}
